/*
 * Estilos de tu proyecto
 */
body { /*para eliminar los espacios en el body*/
  margin: 0;
  padding: 0;
}

nav { /*para dar estilo al navegador*/
  background: #333447;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0;
  width: 100%;
}

#phone > img {/*para dar estilo a la imagen dle telefono*/
   width: 300px;
 }

 .seccion-1 > nav > img {/*para indicar el tamaño del logo blanco*/
   width: 50px;
 }

 .background-purple {/*para dar el degradado morado de la seccion-3*/
   background: linear-gradient(#72268d,#76278F, #2B1E66);
   height: 500px;
   width: 100%;
 }

 .footer { /*para dar estilo al footer*/
   background: #333447;
   color: white;
   height: 700px;
   width: 100%;

 }
 .copyrigth { /*para dar estilo al footer*/
   text-align: center;
 }
